<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey Optimization</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .main-btn {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <br/><br/>
    <h1>Journey Optimization</h1>
    <p>Click the button below to go to the map and find the optimal route between two points.</p>

    <br/><br/>
    <img src="static\header-image.jpg">
    <br/>
    
    <a href="/find_route_page">
        <button class="main-btn">Find Route</button>
    </a>
</body>
</html>
